Repository MatejBransky/simon-game-old: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --ext ts --ext tsx --ext js --ext jsx",
    "git add"
  ],
  "src/**/*.scss": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["prettier --write", "git add"]
}

remove src files
  src/App.tsx
  src/countdownMachine.ts
  src/gameMachine.ts
  src/index.tsx
  src/powerMachine.ts
  src/showingMachine.ts
  src/styles.scss
Due: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx, stylelint --fix

reinit
  .eslintrc
  .gitignore
  LICENSE
  README.md
  jest.config.js
  package.json
  src/index.html
  src/index.ts
  tests/example.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx

add react
  .eslintrc
  package.json
  src/App.tsx
  src/index.html
  src/index.ts
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx

add cypress
  cypress.json
  cypress/.eslintrc
  cypress/fixtures/example.json
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  yarn.lock
Due: none

fix eslint config
  .eslintrc
  src/App.tsx
  tests/.eslintrc
Due: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx

add css in jsx
  .babelrc
  package.json
  src/App.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx

remove css-in-jsx / use instead sass
  .babelrc
  package.json
  src/App.scss
  src/App.tsx
  src/index.html
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx, stylelint --fix

complete styles
  src/App.scss
  src/App.tsx
Due: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx, stylelint --fix

clean vs code settings
  .vscode/settings.json
Due: none

sets e2e testing
  .vscode/settings.json
  cypress.json
  cypress/.eslintrc
  cypress/integration/app.spec.js
  cypress/support/commands.js
  cypress/support/index.d.ts
  cypress/tsconfig.json
  package.json
  src/App.tsx
  yarn.lock
Due: prettier --write, eslint --ext ts --ext tsx --ext js --ext jsx
